In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('TD_HOSPITAL_TRAIN.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'TD_HOSPITAL_TRAIN.csv'

In [141]:
df

,timeknown,cost,reflex,sex,blood,bloodchem1,bloodchem2,temperature,race,heart,...,diabetes,income,extraprimary,bloodchem6,education,psych5,psych6,information,cancer,death
0,4.0,3008.38867,11.228005,male,20.699219,2.199707,1.299805,35.59375,white,103.0,...,0.0,$11-$25k,COPD/CHF/Cirrhosis,167.5000,20.0,30.0,2.000000,0.0,no,1.0
1,467.0,23585.89060,9.714861,M,9.398438,NaN,0.699951,39.00000,white,50.0,...,0.0,>$50k,Cancer,480.0000,16.0,11.5,1.000000,10.0,metastatic,1.0
2,533.0,4046.45898,11.353296,Male,19.296875,NaN,1.599854,38.19531,white,50.0,...,1.0,under $11k,ARF/MOSF,177.1250,5.0,18.0,0.000000,5.0,yes,0.0
3,68.0,NaN,9.269058,female,7.500000,2.500000,0.599976,37.59375,white,80.0,...,0.0,$11-$25k,COPD/CHF/Cirrhosis,NaN,12.0,7.0,1.839000,12.0,no,1.0
4,1605.0,6457.70703,8.655387,female,15.099609,4.399414,0.699951,35.69531,white,114.0,...,0.0,under $11k,COPD/CHF/Cirrhosis,233.3125,2.0,7.0,6.000000,12.0,no,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7053,841.0,18825.79690,10.897551,female,15.099609,NaN,0.899902,38.00000,black,150.0,...,0.0,$25-$50k,Coma,371.3750,17.0,17.0,5.000000,11.0,no,0.0
7054,258.0,68911.87500,10.325173,male,7.500000,3.199707,0.899902,37.59375,white,112.0,...,0.0,>$50k,ARF/MOSF,122.4375,20.0,24.5,0.000000,48.0,metastatic,1.0
7055,1325.0,15684.64840,9.838906,female,35.000000,2.799805,0.599976,36.59375,white,126.0,...,0.0,under $11k,COPD/CHF/Cirrhosis,240.0000,NaN,32.5,0.000000,11.0,no,0.0
7056,4.0,NaN,9.141439,1,18.199219,3.000000,0.899902,39.29688,white,132.0,...,0.0,NaN,Coma,228.0000,NaN,32.0,2.317871,3.0,yes,1.0
7057,14.0,5133.14844,11.006892,female,12.599609,2.299805,0.699951,38.50000,white,114.0,...,0.0,under $11k,COPD/CHF/Cirrhosis,NaN,12.0,8.0,5.000000,7.0,no,1.0

In [142]:
df.columns

Index(['timeknown', 'cost', 'reflex', 'sex', 'blood', 'bloodchem1',
       'bloodchem2', 'temperature', 'race', 'heart', 'psych1', 'glucose',
       'psych2', 'dose', 'psych3', 'bp', 'bloodchem3', 'confidence',
       'bloodchem4', 'comorbidity', 'totalcost', 'breathing', 'age', 'sleep',
       'dnr', 'bloodchem5', 'pdeath', 'meals', 'pain', 'primary', 'psych4',
       'disability', 'administratorcost', 'urine', 'diabetes', 'income',
       'extraprimary', 'bloodchem6', 'education', 'psych5', 'psych6',
       'information', 'cancer', 'death'],
      dtype='object')

In [143]:
#drop timeknown, cost, sex, race, totalcost, income, education

In [144]:
df = df.drop(['income', 'race', 'sex', 'timeknown', 'cost', 'totalcost', 'education'], axis =1)

In [145]:
df

,reflex,blood,bloodchem1,bloodchem2,temperature,heart,psych1,glucose,psych2,dose,...,administratorcost,urine,diabetes,extraprimary,bloodchem6,psych5,psych6,information,cancer,death
0,11.228005,20.699219,2.199707,1.299805,35.59375,103.0,4.0,157.0,2.0,5,...,3525.000,5360.0,0.0,COPD/CHF/Cirrhosis,167.5000,30.0,2.000000,0.0,no,1.0
1,9.714861,9.398438,NaN,0.699951,39.00000,50.0,3.0,271.0,1.0,5,...,43200.000,2570.0,0.0,Cancer,480.0000,11.5,1.000000,10.0,metastatic,1.0
2,11.353296,19.296875,NaN,1.599854,38.19531,50.0,3.0,117.0,0.0,5,...,5894.000,1690.0,1.0,ARF/MOSF,177.1250,18.0,0.000000,5.0,yes,0.0
3,9.269058,7.500000,2.500000,0.599976,37.59375,80.0,4.0,NaN,NaN,5,...,16717.000,NaN,0.0,COPD/CHF/Cirrhosis,NaN,7.0,1.839000,12.0,no,1.0
4,8.655387,15.099609,4.399414,0.699951,35.69531,114.0,4.0,NaN,6.0,5,...,10151.000,NaN,0.0,COPD/CHF/Cirrhosis,233.3125,7.0,6.000000,12.0,no,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7053,10.897551,15.099609,NaN,0.899902,38.00000,150.0,5.0,NaN,5.0,5,...,43891.000,1830.0,0.0,Coma,371.3750,17.0,5.000000,11.0,no,0.0
7054,10.325173,7.500000,3.199707,0.899902,37.59375,112.0,4.0,139.0,0.0,5,...,106109.000,1130.0,0.0,ARF/MOSF,122.4375,24.5,0.000000,48.0,metastatic,1.0
7055,9.838906,35.000000,2.799805,0.599976,36.59375,126.0,3.0,NaN,0.0,5,...,21128.000,NaN,0.0,COPD/CHF/Cirrhosis,240.0000,32.5,0.000000,11.0,no,0.0
7056,9.141439,18.199219,3.000000,0.899902,39.29688,132.0,1.0,NaN,NaN,5,...,22312.328,NaN,0.0,Coma,228.0000,32.0,2.317871,3.0,yes,1.0
7057,11.006892,12.599609,2.299805,0.699951,38.50000,114.0,0.0,96.0,5.0,5,...,5874.000,1840.0,0.0,COPD/CHF/Cirrhosis,NaN,8.0,5.000000,7.0,no,1.0

In [146]:
df.columns.values

array(['reflex', 'blood', 'bloodchem1', 'bloodchem2', 'temperature',
       'heart', 'psych1', 'glucose', 'psych2', 'dose', 'psych3', 'bp',
       'bloodchem3', 'confidence', 'bloodchem4', 'comorbidity',
       'breathing', 'age', 'sleep', 'dnr', 'bloodchem5', 'pdeath',
       'meals', 'pain', 'primary', 'psych4', 'disability',
       'administratorcost', 'urine', 'diabetes', 'extraprimary',
       'bloodchem6', 'psych5', 'psych6', 'information', 'cancer', 'death'],
      dtype=object)

In [147]:
df_numbers = df.drop(['dnr', 'primary', 'disability', 'extraprimary', 'cancer'], axis=1)

In [148]:
df_numbers

,reflex,blood,bloodchem1,bloodchem2,temperature,heart,psych1,glucose,psych2,dose,...,pain,psych4,administratorcost,urine,diabetes,bloodchem6,psych5,psych6,information,death
0,11.228005,20.699219,2.199707,1.299805,35.59375,103.0,4.0,157.0,2.0,5,...,2.0,NaN,3525.000,5360.0,0.0,167.5000,30.0,2.000000,0.0,1.0
1,9.714861,9.398438,NaN,0.699951,39.00000,50.0,3.0,271.0,1.0,5,...,3.0,0.0,43200.000,2570.0,0.0,480.0000,11.5,1.000000,10.0,1.0
2,11.353296,19.296875,NaN,1.599854,38.19531,50.0,3.0,117.0,0.0,5,...,1.0,1.0,5894.000,1690.0,1.0,177.1250,18.0,0.000000,5.0,0.0
3,9.269058,7.500000,2.500000,0.599976,37.59375,80.0,4.0,NaN,NaN,5,...,1.0,2.0,16717.000,NaN,0.0,NaN,7.0,1.839000,12.0,1.0
4,8.655387,15.099609,4.399414,0.699951,35.69531,114.0,4.0,NaN,6.0,5,...,4.0,5.0,10151.000,NaN,0.0,233.3125,7.0,6.000000,12.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7053,10.897551,15.099609,NaN,0.899902,38.00000,150.0,5.0,NaN,5.0,5,...,2.0,NaN,43891.000,1830.0,0.0,371.3750,17.0,5.000000,11.0,0.0
7054,10.325173,7.500000,3.199707,0.899902,37.59375,112.0,4.0,139.0,0.0,5,...,3.0,NaN,106109.000,1130.0,0.0,122.4375,24.5,0.000000,48.0,1.0
7055,9.838906,35.000000,2.799805,0.599976,36.59375,126.0,3.0,NaN,0.0,5,...,3.0,NaN,21128.000,NaN,0.0,240.0000,32.5,0.000000,11.0,0.0
7056,9.141439,18.199219,3.000000,0.899902,39.29688,132.0,1.0,NaN,NaN,5,...,2.0,NaN,22312.328,NaN,0.0,228.0000,32.0,2.317871,3.0,1.0
7057,11.006892,12.599609,2.299805,0.699951,38.50000,114.0,0.0,96.0,5.0,5,...,2.0,3.0,5874.000,1840.0,0.0,NaN,8.0,5.000000,7.0,1.0

In [150]:
for s in df_numbers.columns.values:
    df[s].fillna(df[s].mean(), inplace = True)

In [151]:
df1 = df

In [152]:
df1

,reflex,blood,bloodchem1,bloodchem2,temperature,heart,psych1,glucose,psych2,dose,...,administratorcost,urine,diabetes,extraprimary,bloodchem6,psych5,psych6,information,cancer,death
0,11.228005,20.699219,2.199707,1.299805,35.59375,103.0,4.0,157.000000,2.000000,5,...,3525.000,5360.000000,0.0,COPD/CHF/Cirrhosis,167.500000,30.0,2.000000,0.0,no,1.0
1,9.714861,9.398438,2.946952,0.699951,39.00000,50.0,3.0,271.000000,1.000000,5,...,43200.000,2570.000000,0.0,Cancer,480.000000,11.5,1.000000,10.0,metastatic,1.0
2,11.353296,19.296875,2.946952,1.599854,38.19531,50.0,3.0,117.000000,0.000000,5,...,5894.000,1690.000000,1.0,ARF/MOSF,177.125000,18.0,0.000000,5.0,yes,0.0
3,9.269058,7.500000,2.500000,0.599976,37.59375,80.0,4.0,159.695613,1.637025,5,...,16717.000,2197.483816,0.0,COPD/CHF/Cirrhosis,241.380204,7.0,1.839000,12.0,no,1.0
4,8.655387,15.099609,4.399414,0.699951,35.69531,114.0,4.0,159.695613,6.000000,5,...,10151.000,2197.483816,0.0,COPD/CHF/Cirrhosis,233.312500,7.0,6.000000,12.0,no,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7053,10.897551,15.099609,2.946952,0.899902,38.00000,150.0,5.0,159.695613,5.000000,5,...,43891.000,1830.000000,0.0,Coma,371.375000,17.0,5.000000,11.0,no,0.0
7054,10.325173,7.500000,3.199707,0.899902,37.59375,112.0,4.0,139.000000,0.000000,5,...,106109.000,1130.000000,0.0,ARF/MOSF,122.437500,24.5,0.000000,48.0,metastatic,1.0
7055,9.838906,35.000000,2.799805,0.599976,36.59375,126.0,3.0,159.695613,0.000000,5,...,21128.000,2197.483816,0.0,COPD/CHF/Cirrhosis,240.000000,32.5,0.000000,11.0,no,0.0
7056,9.141439,18.199219,3.000000,0.899902,39.29688,132.0,1.0,159.695613,1.637025,5,...,22312.328,2197.483816,0.0,Coma,228.000000,32.0,2.317871,3.0,yes,1.0
7057,11.006892,12.599609,2.299805,0.699951,38.50000,114.0,0.0,96.000000,5.000000,5,...,5874.000,1840.000000,0.0,COPD/CHF/Cirrhosis,241.380204,8.0,5.000000,7.0,no,1.0

In [153]:
df['disability']

0          <2 mo. follow-up
1                       NaN
2       no(M2 and SIP pres)
3                       NaN
4       no(M2 and SIP pres)
               ...
7053    adl>=4 (>=5 if sur)
7054    no(M2 and SIP pres)
7055    no(M2 and SIP pres)
7056       <2 mo. follow-up
7057       <2 mo. follow-up
Name: disability, Length: 7058, dtype: object

In [154]:
from sklearn.feature_extraction.text import CountVectorizer

In [79]:
df

,cost,reflex,blood,bloodchem1,bloodchem2,temperature,heart,psych1,glucose,psych2,...,urine,diabetes,extraprimary,bloodchem6,education,psych5,psych6,information,cancer,death
0,3008.388670,11.228005,20.699219,2.199707,1.299805,35.59375,103.0,4.0,157.0,2.0,...,5360.000000,0.0,"(0, 5)\t1\n (0, 2)\t1\n (0, 3)\t1\n (1, 1...",167.500000,20.000000,30.0,2.000000,0.0,no,1.0
1,23585.890600,9.714861,9.398438,2.946952,0.699951,39.00000,50.0,3.0,271.0,1.0,...,2570.000000,0.0,Cancer,480.000000,16.000000,11.5,1.000000,10.0,metastatic,1.0
2,4046.458980,11.353296,19.296875,2.946952,1.599854,38.19531,50.0,3.0,117.0,0.0,...,1690.000000,1.0,ARF/MOSF,177.125000,5.000000,18.0,0.000000,5.0,yes,0.0
3,28690.171682,9.269058,7.500000,2.500000,0.599976,37.59375,80.0,4.0,NaN,NaN,...,2197.483816,0.0,COPD/CHF/Cirrhosis,241.380204,12.000000,7.0,1.839000,12.0,no,1.0
4,6457.707030,8.655387,15.099609,4.399414,0.699951,35.69531,114.0,4.0,NaN,6.0,...,2197.483816,0.0,COPD/CHF/Cirrhosis,233.312500,2.000000,7.0,6.000000,12.0,no,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7053,18825.796900,10.897551,15.099609,2.946952,0.899902,38.00000,150.0,5.0,NaN,5.0,...,1830.000000,0.0,Coma,371.375000,17.000000,17.0,5.000000,11.0,no,0.0
7054,68911.875000,10.325173,7.500000,3.199707,0.899902,37.59375,112.0,4.0,139.0,0.0,...,1130.000000,0.0,ARF/MOSF,122.437500,20.000000,24.5,0.000000,48.0,metastatic,1.0
7055,15684.648400,9.838906,35.000000,2.799805,0.599976,36.59375,126.0,3.0,NaN,0.0,...,2197.483816,0.0,COPD/CHF/Cirrhosis,240.000000,13.085435,32.5,0.000000,11.0,no,0.0
7056,28690.171682,9.141439,18.199219,3.000000,0.899902,39.29688,132.0,1.0,NaN,NaN,...,2197.483816,0.0,Coma,228.000000,13.085435,32.0,2.317871,3.0,yes,1.0
7057,5133.148440,11.006892,12.599609,2.299805,0.699951,38.50000,114.0,0.0,96.0,5.0,...,1840.000000,0.0,COPD/CHF/Cirrhosis,241.380204,12.000000,8.0,5.000000,7.0,no,1.0

In [157]:
df = pd.get_dummies(df, columns=['dnr', 'primary', 'disability', 'extraprimary', 'cancer' ], prefix = ['dnr', 'primary', 'disability', 'extraprimary', 'cancer' ])

In [158]:
df

,reflex,blood,bloodchem1,bloodchem2,temperature,heart,psych1,glucose,psych2,dose,...,disability_SIP>=30,disability_adl>=4 (>=5 if sur),disability_no(M2 and SIP pres),extraprimary_ARF/MOSF,extraprimary_COPD/CHF/Cirrhosis,extraprimary_Cancer,extraprimary_Coma,cancer_metastatic,cancer_no,cancer_yes
0,11.228005,20.699219,2.199707,1.299805,35.59375,103.0,4.0,157.000000,2.000000,5,...,0,0,0,0,1,0,0,0,1,0
1,9.714861,9.398438,2.946952,0.699951,39.00000,50.0,3.0,271.000000,1.000000,5,...,0,0,0,0,0,1,0,1,0,0
2,11.353296,19.296875,2.946952,1.599854,38.19531,50.0,3.0,117.000000,0.000000,5,...,0,0,1,1,0,0,0,0,0,1
3,9.269058,7.500000,2.500000,0.599976,37.59375,80.0,4.0,159.695613,1.637025,5,...,0,0,0,0,1,0,0,0,1,0
4,8.655387,15.099609,4.399414,0.699951,35.69531,114.0,4.0,159.695613,6.000000,5,...,0,0,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7053,10.897551,15.099609,2.946952,0.899902,38.00000,150.0,5.0,159.695613,5.000000,5,...,0,1,0,0,0,0,1,0,1,0
7054,10.325173,7.500000,3.199707,0.899902,37.59375,112.0,4.0,139.000000,0.000000,5,...,0,0,1,1,0,0,0,1,0,0
7055,9.838906,35.000000,2.799805,0.599976,36.59375,126.0,3.0,159.695613,0.000000,5,...,0,0,1,0,1,0,0,0,1,0
7056,9.141439,18.199219,3.000000,0.899902,39.29688,132.0,1.0,159.695613,1.637025,5,...,0,0,0,0,0,0,1,0,0,1
7057,11.006892,12.599609,2.299805,0.699951,38.50000,114.0,0.0,96.000000,5.000000,5,...,0,0,0,0,1,0,0,0,1,0

In [161]:
X = df.drop(['death'], axis=1)
y = df['death']

In [162]:
X

,reflex,blood,bloodchem1,bloodchem2,temperature,heart,psych1,glucose,psych2,dose,...,disability_SIP>=30,disability_adl>=4 (>=5 if sur),disability_no(M2 and SIP pres),extraprimary_ARF/MOSF,extraprimary_COPD/CHF/Cirrhosis,extraprimary_Cancer,extraprimary_Coma,cancer_metastatic,cancer_no,cancer_yes
0,11.228005,20.699219,2.199707,1.299805,35.59375,103.0,4.0,157.000000,2.000000,5,...,0,0,0,0,1,0,0,0,1,0
1,9.714861,9.398438,2.946952,0.699951,39.00000,50.0,3.0,271.000000,1.000000,5,...,0,0,0,0,0,1,0,1,0,0
2,11.353296,19.296875,2.946952,1.599854,38.19531,50.0,3.0,117.000000,0.000000,5,...,0,0,1,1,0,0,0,0,0,1
3,9.269058,7.500000,2.500000,0.599976,37.59375,80.0,4.0,159.695613,1.637025,5,...,0,0,0,0,1,0,0,0,1,0
4,8.655387,15.099609,4.399414,0.699951,35.69531,114.0,4.0,159.695613,6.000000,5,...,0,0,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7053,10.897551,15.099609,2.946952,0.899902,38.00000,150.0,5.0,159.695613,5.000000,5,...,0,1,0,0,0,0,1,0,1,0
7054,10.325173,7.500000,3.199707,0.899902,37.59375,112.0,4.0,139.000000,0.000000,5,...,0,0,1,1,0,0,0,1,0,0
7055,9.838906,35.000000,2.799805,0.599976,36.59375,126.0,3.0,159.695613,0.000000,5,...,0,0,1,0,1,0,0,0,1,0
7056,9.141439,18.199219,3.000000,0.899902,39.29688,132.0,1.0,159.695613,1.637025,5,...,0,0,0,0,0,0,1,0,0,1
7057,11.006892,12.599609,2.299805,0.699951,38.50000,114.0,0.0,96.000000,5.000000,5,...,0,0,0,0,1,0,0,0,1,0

In [165]:
import tensorflow as tf
from sklearn.model_selection import train_test_split

In [167]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2)

In [170]:
from tensorflow.keras import Sequential
from sklearn.linear_model import LogisticRegression

In [172]:
model = keras.Sequential([
        layers.Input(shape=(X_train.shape[1],)),  # Input layer
        layers.Dense(128, activation='relu'),     # Hidden layer with 128 neurons and ReLU activation
        layers.Dense(64, activation='relu'),      # Another hidden layer with 64 neurons and ReLU activation
        layers.Dense(1, activation='sigmoid')     # Output layer with sigmoid activation for binary classification
    ])

In [ ]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])